/* Global styles */
.pokedex-container {
  margin: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

mat-card {
  width: 100%;
  border-radius: 15px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

mat-card:hover {
  transform: translateY(-10px);
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pokemon-info {
  text-align: left;
  padding: 10px;
  flex: 1;
  font-size: 16px;
}

.pokemon-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.pokemon-sprite {
  width: 100px;
  height: 100px;
}

.pokeball-shadow {
  position: absolute;
  width: 130px;
  height: 130px;
  opacity: 0.2;
  bottom: -10px;
  right: -10px;
  transform: rotate(45deg);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .pokemon-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  mat-card {
    max-width: 300px;
  }
}

@media (max-width: 576px) {
  .pokemon-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  mat-card {
    max-width: 250px;
  }

  .pokemon-info {
    font-size: 14px;
  }
}

/* Paginator styles */
.custom-paginator {
  justify-content: center;
  margin-top: 20px;
}

.custom-paginator ::ng-deep .mat-paginator-page-size,
.custom-paginator ::ng-deep .mat-paginator-range-label {
  color: #333;
  font-size: 14px;
}

.custom-paginator ::ng-deep .mat-paginator-page-size .mat-select-arrow {
  color: #333;
}

.custom-paginator ::ng-deep .mat-paginator-navigation .mat-select-value,
.custom-paginator ::ng-deep .mat-paginator-navigation .mat-icon-button {
  color: #333;
}

.custom-paginator ::ng-deep .mat-paginator-navigation .mat-icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .custom-paginator ::ng-deep .mat-paginator {
    margin-bottom: 20px;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 80%;
  max-width: 500px;
}

button[mat-icon-button] {
  color: #757575;
}

@media (max-width: 576px) {
  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }
}

.no-results, .loading {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #757575;
}

.loading {
  font-style: italic;
}

.above-search-image-container {
  text-align: center; 
  margin-bottom: 20px; 
}

.above-search-image {
  max-width: 400px; 
  height: auto; 
}


/* Pokemon type backgrounds */
.grass-card {
  background-color: #78c850;
}

.fire-card {
  background-color: #f08030;
}

.water-card {
  background-color: #6890f0;
}

.electric-card {
  background-color: #f8d030;
}

.poison-card {
  background-color: #a040a0;
}

.ground-card {
  background-color: #e0c068;
}

.flying-card {
  background-color: #a890f0;
}

.bug-card {
  background-color: #a8b820;
}

.rock-card {
  background-color: #b8a038;
}

.ghost-card {
  background-color: #705898;
}

.psychic-card {
  background-color: #f85888;
}

.normal-card {
  background-color: #A8A878;
}

