<div class="pokedex-container">
  <div class="above-search-image-container">
    <img src="assets/images/logo.png" alt="Pokedex Logo" class="above-search-image" />
  </div>
  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Search Pokemon</mat-label>
      <input matInput type="text" placeholder="Enter pokemon name..." [(ngModel)]="searchTerm" (input)="applyFilter()" />
    </mat-form-field>
  </div>
  
  <div class="pokemon-grid" *ngIf="paginatedPokemons.length > 0" [@fadeInOut]>
    <div
      class="pokemon-card"
      *ngFor="let pokemon of paginatedPokemons"
      (click)="openPokemonDialog(pokemon)"
    >
      <mat-card [ngStyle]="{ 'background-color': getTypeColor(pokemon) }">
        <mat-card-header>
          <div class="pokemon-info">
            <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
            <p>
              <span *ngFor="let type of pokemon.types; let last = last">
                {{ type.type.name | titlecase }}
                <span *ngIf="!last">, </span>
              </span>
            </p>
          </div>
          <div class="pokemon-image">
            <img
              [src]="pokemon.sprites.other.dream_world.front_default"
              alt="{{ pokemon.name }}"
              class="pokemon-sprite"
            />
            <img
              src="assets/images/pokeball-background.png"
              alt="Pokeball"
              class="pokeball-shadow"
            />
          </div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="no-results" *ngIf="paginatedPokemons.length === 0 && pokemons.length > 0">
    No results found for "{{ searchTerm }}"
  </div>
  <div class="loading" *ngIf="pokemons.length === 0">
    Loading...
  </div>
  <mat-paginator
    [length]="pokemons.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    class="custom-paginator"
  ></mat-paginator>
</div>
