:host {
  display: block;
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
}

.pokemon-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-header {
  text-align: center;
}

.pokemon-header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.pokemon-types {
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}

.pokemon-image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  width: 150px;
  height: 150px;
}

.pokemon-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pokemon-tabs {
  width: 100%;
  margin-top: 20px;
}

.pokemon-tabs .mat-tab-label {
  border-radius: 20px 20px 0 0;
}

.pokemon-tabs .mat-tab-label-active {
  background-color: #dcdcdc;
}

.about-card,
.stats-card {
  width: 100%;
  margin-top: 20px;
}

.stat-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.stat-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.stat-bar {
  display: flex;
  align-items: center;
}

.mat-progress-bar {
  flex: 1;
  margin-right: 10px;
}

.stat-value {
  width: 60px;
  text-align: center;
}

.mat-icon {
  margin-right: 5px;
}

/* Menentukan warna latar belakang berdasarkan tipe Pokémon */
.pokemon-type-normal {
  background-color: #A8A878;
}

.pokemon-type-fire {
  background-color: #F08030;
}

.pokemon-type-water {
  background-color: #6890F0;
}

.pokemon-type-electric {
  background-color: #F8D030;
}

.pokemon-type-grass {
  background-color: #78C850;
}

.pokemon-type-ice {
  background-color: #98D8D8;
}

.pokemon-type-fighting {
  background-color: #C03028;
}

.pokemon-type-poison {
  background-color: #A040A0;
}

.pokemon-type-ground {
  background-color: #E0C068;
}

.pokemon-type-flying {
  background-color: #A890F0;
}

.pokemon-type-psychic {
  background-color: #F85888;
}

.pokemon-type-bug {
  background-color: #A8B820;
}

.pokemon-type-rock {
  background-color: #B8A038;
}

.pokemon-type-ghost {
  background-color: #705898;
}

.pokemon-type-dragon {
  background-color: #7038F8;
}

.pokemon-type-dark {
  background-color: #705848;
}

.pokemon-type-steel {
  background-color: #B8B8D0;
}

.pokemon-type-fairy {
  background-color: #EE99AC;
}
