<div mat-dialog-content class="pokemon-detail-content" [class]="getStatItemClass(data.pokemon.types[0].type.name)">
  <div class="pokemon-header">
    <h1>{{ data.pokemon.name | titlecase }}</h1>
    <p class="pokemon-types">
      <span *ngFor="let type of data.pokemon.types; let last = last">
        {{ type.type.name | titlecase }}<span *ngIf="!last">, </span>
      </span>
    </p>
    <button mat-icon-button (click)="playPokemonSound()">
      <mat-icon>volume_up</mat-icon>
    </button>
  </div>

  <div class="pokemon-image-container">
    <img *ngIf="useSvgImage" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/{{ data.pokemon.id }}.gif" alt="{{ data.pokemon.name }}" class="pokemon-image" />
    <img *ngIf="!useSvgImage" [src]="data.pokemon.sprites.other.dream_world.front_default" alt="{{ data.pokemon.name }}" class="pokemon-image" />
  </div>

  <mat-slide-toggle (change)="toggleImageFormat($event.checked)"></mat-slide-toggle>

  <mat-tab-group class="pokemon-tabs">
    <mat-tab label="About">
      <ng-template mat-tab-label>
        <mat-icon>info</mat-icon>
        About
      </ng-template>
      <mat-card class="about-card">
        <mat-card-content>
          <p><strong>Height:</strong> {{ data.pokemon.height }}</p>
          <p><strong>Weight:</strong> {{ data.pokemon.weight }}</p>
          <p><strong>Base Experience:</strong> {{ data.pokemon.base_experience }}</p>
          <p><strong>Abilities:</strong></p>
          <ul>
            <li *ngFor="let ability of data.pokemon.abilities">
              {{ ability.ability.name | titlecase }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Stats">
      <ng-template mat-tab-label>
        <mat-icon>equalizer</mat-icon>
        Stats
      </ng-template>
      <mat-card class="stats-card">
        <mat-card-content>
          <div class="stat-item" *ngFor="let stat of data.pokemon.stats">
            <div class="stat-name">{{ stat.stat.name | titlecase }}</div>
            <div class="stat-bar">
              <mat-progress-bar mode="determinate" [value]="stat.base_stat"></mat-progress-bar>
              <div class="stat-value">{{ stat.base_stat }}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
